.box {
    width: 211px;
    height: 184px;
    background: #112949 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .bottom p {
    color: white;
  }
  
  .top {
    display: flex;
    color: #3cc3f2;
    justify-content: space-around;
    gap: 10px;
  }
  
  .top h2 {
    font-size: medium;
  }
  
  .top img {
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 1080px) {
    .box {
      width: 90%;
      margin: 10px auto;
    }
  }
  