.form-container {
    display: flex;
    height: 20vh;
    width: 25vw;
  }

  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid gray;
    outline: none;
  }
  
  button {
    background-color: orange;
    color: white;
    height: 8vh;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .message {
    margin-top: 1rem;
    color: red;
  }


  /* Responsive styles */
@media (max-width: 480px) {
    .form {
      width: 90%;
    }
  }
  
  @media (min-width: 481px) and (max-width: 720px) {
    .form {
      width: 80%;
    }
  }
  
  @media (min-width: 721px) and (max-width: 1080px) {
    .form {
      width: 70%;
    }
  }
  
  @media (min-width: 1081px) {
    .form {
      width: 60%;
    }
  }
  