.form-container {
    display: flex;
    height: 20vh;
    width: 25vw;
  }

  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid gray;
    outline: none;
  }
  
  button {
    background-color: orange;
    color: white;
    height: 8vh;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .message {
    margin-top: 1rem;
    color: red;
  }
  