.home {
    position: relative;
    top: 25px;
    left: 40px;
    width: 517px;
    height: 145px;
    background: transparent url('../assets/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    position: absolute;
    top: 150px;
  }
  
  .paragraph {
    text-wrap: wrap;
    width: 32vw;
  }
  
  .boxes {
    position: absolute;
    top: 10px;
    left: 650px;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Responsive styles */
  @media (max-width: 1080px) {
    .home {
      align-items: center;
      justify-content: center;
    }
  
    .heading {
      position: static;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .paragraph {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  
    .boxes {
      position: static;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  